@import '../../variables.scss';

.profile {
  width: 380px;
  min-height: 500px;
  max-height: 600px;
  background-color: #ffffff;
  box-shadow: $shadow-input;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin: 60px auto 25px auto;
}

.profile * {
  font-family: 'Roboto';
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.title {
  color: $heading-color;
  font-size: $header5-size;
  line-height: $header5-line-height;
  font-weight: $font-weight-large;
  text-align: center;
  margin-top: 50px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label {
  width: 320px;
  color: $heading-color;
  font-weight: $font-weight;
  font-size: $font-size-base;
  line-height: $font-line-height;
  margin-bottom: 12px;
}

.label:last-of-type {
  margin-bottom: 0px;
}

.text {
  width: 296px;
  height: 24px;
  padding: 8px 12px;
  font-weight: $font-weight;
  font-size: $font-size-large;
  line-height: $input-line-height;
  border: 1px solid $border-color;
  border-radius: 5px;
}

.invalid {
  border-color: $highlight-color;
}

.alert {
  color: $highlight-color;
  font-weight: $font-weight;
  font-size: $font-size-base;
  line-height: $font-line-height;
}

.submit {
  width: 320px;
  height: 40px;
  background-color: $info-color;
  border-radius: 5px;
  color: #ffffff;
  font-size: $font-size-large;
  font-weight: $font-weight;
  line-height: $input-line-height;
  margin-top: 20px;
  margin-bottom: 15px;
}