@import '../../variables.scss';

.article {
  overflow-wrap: anywhere;
  min-height: 771px;
  max-height: 100%;
  width: 908px;
  box-shadow: $shadow-2;
  background-color: #ffffff;
  margin: 26px auto 26px auto;
  padding: 5px 16px 24px 16px;
}

.articleHeader {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  font-size: $header5-size;
  font-weight: 400;
  line-height: $header5-line-height;
  color: $info-color;
  margin-right: 15px;
}

.heartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.heartButton:hover {
  border-radius: 50%;
  background-color: $border-color;
}

.heart * {
  width: 15px;
  height: 15px;
}

.likes {
  color: $text-color;
  font-size: $font-size-small;
  line-height: $font-line-height;
  font-weight: $font-weight;
  margin-left: 5px;
}

.tagsList {
  margin-bottom: 4px;
}

.tag {
  background-color: #ffffff;
  border: 1px solid $text-color-secondary;
  color: $text-color-secondary;
  padding: 0 4px 2px 4px;
  line-height: 15px;
  margin-right: 8px;
  border-radius: 2px;
}

.description {
  color: $text-color;
  font-size: $font-size-small;
  line-height: $font-line-height;
  font-weight: $font-weight;
}

.right {
  overflow-wrap: break-word;
  display: flex;
  justify-content: flex-end;
}

.info {
  display: flex;
  flex-direction: column;
}

.username {
  color: $heading-color;
  font-size: $header6-size;
  font-weight: $font-weight;
  line-height: $header6-line-height;
  text-align: end;
}

.date {
  color: $text-color-secondary;
  font-size: $font-size-small;
  line-height: $font-line-height;
  font-weight: $font-weight;
}

.avatar {
  margin-left: 12px;
  height: 46px;
  width: 46px;
}

.ownerPanel {
  display: flex;
  margin-top: 30px;
}

.delete {
  color: $highlight-color;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $font-line-height;
  border: 1px solid $highlight-color;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  transition: 0.4s;
}

.delete:hover {
  color: #ffffff;
  background-color: $highlight-color;
}

.edit {
  color: $success-color;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $font-line-height;
  border: 1px solid $success-color;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: 0.4s;
}

.edit:hover {
  color: #ffffff;
  background-color: $success-color;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.error {
  width: 100px;
  margin: 0 auto;
  text-align: center;
}