$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$succes-color: rgba(82, 196, 26, 1);
$info-color: rgba(24, 144, 255, 1);
$primary-color: rgba(24, 144, 255, 1);

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$font-weight: 400;
$font-line-height: 22px;
$header6-size: 18px;
$header5-size: 20px;
$header6-line-height: 28px;
$header5-line-height: 28px;

$shadow-2: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);