$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$text-label-color: rgba(38, 38, 38, 1);
$success-color: rgba(82, 196, 26, 1);
$info-color: rgba(24, 144, 255, 1);
$primary-color: rgba(24, 144, 255, 1);
$border-color: rgba(217, 217, 217, 1);
$input-text-color: rgba(191, 191, 191, 1);
$highlight-color: rgba(245, 34, 45, 1);

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$font-weight: 400;
$font-weight-large: 500;
$font-line-height: 22px;
$header6-size: 18px;
$header5-size: 20px;
$header6-line-height: 28px;
$header5-line-height: 28px;
$input-line-height: 24px;

$shadow-input: 0px 0px 3px 0px rgba(0, 0, 0, 0.0197),
  0px 0px 5px 0px rgba(0, 0, 0, 0.0283),
  0px 3px 13px 0px rgba(0, 0, 0, 0.035),
  0px 5px 24px 0px rgba(0, 0, 0, 0.0417),
  0px 9px 44px 0px rgba(0, 0, 0, 0.0503),
  0px 22px 106px 0px rgba(0, 0, 0, 0.07);
$shadow-2: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);